<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <!--FontAwesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
        integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">

    <!--Chartjs CDN-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>

    <!--Custome CSS
    <link rel="stylesheet" href="./style.css">-->
    <title>Home Page</title>
  </head>
  <body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">SVECW</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="home">Home</a>
              </li>
              <!--<li class="nav-item">
                <a class="nav-link" href="contact">Contact</a>
              </li>-->
              <li class="nav-item">
                <a class="nav-link" href="profile">Profile</a>
              </li>
              <!--
              <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
              </li>-->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <!--<button class=" btn btn-outline-danger" href="{% url 'contact' %}">edit</button>-->
              <a class="btn btn-primary profile-button" href="{% url 'contact' %}">Edit</a>
              <button class="btn btn-outline-success" type="submit">Edit</button>
                <a class="nav-link me-2 btn btn-outline-danger" href="{% url 'logout' %}">
                  <p style="color:white">Logout</p>
                </a> 
            </form>
          </div>
        </div>
    </nav>
    <!--End of navbar-->

        <h3>STUDENT DASHBOARD</h3>

        <!--Topside-->
        <div class="container">
            <div class="row mt-4">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header bg-info text-white">
                            Information
                        </div>
                        <div class="card-body">
                            <marquee behavior="" direction="">
                                <h3 class="my-4">This is the Information</h3>
                            </marquee>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header bg-info text-white">
                            Statistics
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <a class="text-decoration-none text-dark" href="student1">
                                        <div class="card my-card shadow text-center p-3">
                                            <h4>Student<i class="fas fa-users"></i></h4>
                                            <h3>2</h3>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-4">
                                    <a class="text-decoration-none text-dark" href="certi">
                                        <div class="card my-card shadow text-center p-3">
                                            <h4>certifications <i class="fas fa-box"></i></h4>
                                            <h3>2</h3>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-4">
                                    <a class="text-decoration-none text-dark" href="orders">
                                        <div class="card my-card shadow text-center p-3">
                                            <h4>orders<i class="fas fa-shipping-fast"></i></h4>
                                            <h3>2</h3>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Topside-->

              <div class="container">
                <div class="row my-4">
                    <div class="col-md-4"></div>
                    <div class="col-md-8">
                      <!-- Form for adding orders -->
                        <form method="POST">
                          {% csrf_token %}
                          {{ form.as_p }}
                          <button type="submit" class="btn btn-primary">Add Order</button>
                        </form>
                      <!-- Table to display existing orders -->
                        <table class="table bg-white">
                            <thead class="bg-info">
                                <tr class="text-white">
                            <th scope="col">#</th>
                            <th scope="col">view</th>
                            <th scope="col">Admission No</th>
                            <th scope="col">Name</th>
                            <th scope="col">certi name</th>
                            <th scope="col">drivelink</th>
                            <th scope="col">certi_no</th>
                            <th scope="col">start date</th>
                            <th scope="col">end date</th>
                            <th scope="col">credits</th>
                            <th scope="col">certificate</th>
                        </tr>
                    </thead>
                    <tbody>
                      {% if items %}
                    <p>Number of items: {{ items|length }}</p>
                        {%for item in items%}
                        <tr>
                            <th scope="row"></th>
                                <th scope="row"><a class="btn btn-info btn-sm" href="">View</a></th>
                                <td><h1 style="color:black;">{{item.adnum}}</h1></td>
                                <td>{{item.name}}</td>
                                <td>{{item.certi_name}}</td>
                                <td>{{item.drivelink}}</td>
                                <td>{{item.certi_no}}</td>
                                <td>{{item.start_date}}</td>
                                <td>{{item.end_date}}</td>
                                <td>{{item.credits}}</td>
                        </tr>
                        {% endfor %}
                    {% else %}
                        <p>No items found.</p>
                    {% endif %}
                      <!--
                        {% for orders in orders %}
                        <tr>
                            <td>{{ orders.adnum}}</td>
                            <td>{{ orders.name }}</td>
                            <td>{{ orders.certi_name}}</td>
                            <td>{{ orders.drivelink }}</td>
                            <td>{{ orders.certi_no }}</td>
                            <td>{{ orders.credits }}</td>
                        </tr>
                        {% endfor %}
                      -->
                    </tbody>
                </table>
            </div>
          </div>
</div>
<!--End Table-->

        <!-- Optional JavaScript; choose one of the two! -->

        <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
            crossorigin="anonymous"></script>

        <!-- Option 2: Separate Popper and Bootstrap JS -->
        <!--
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
        -->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
  </body>
</html>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>